
@{
    ViewData["Title"] = "VerifyEmail";
    Layout = "~/Views/Shared/_AccessoriesLayout.cshtml";
}

<div class="container my-5 mb-2" style="height:300px;">
    <div class="alert alert-success" role="alert">
        Please Cheack Your Email !!!
    </div>
</div>

